$color_1: black;
$color_2: #f2f2f2;
$color_3: white;
// $background-color_1: #ECF0F1;
// $background-color_2: #2C3E50;
$background-color_3: #1f2b37;

// Created a font
@font-face {
	font-family: 'mainFont';
	src: url(../tenada/Tenada.ttf);
}

// Styles for the body 
body {
	background-image: url(../large-triangles.svg);
	color: $color_1;
	font-family: mainFont;
}


#content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
	margin-bottom: 15%;
	div {
		display: flex;
		flex-direction: column;
		font-size: x-large;
		text-align: center;
		hr {
			border: 2px solid black;
			width: 100%;
		}
		button {
			font-size: larger;
			font-family: mainFont;
			position: relative;
			width: 50%;
			left: 25%;
			right: 25%;
			margin-top: 15px;
		}
	}
}
nav {
	overflow: hidden;
	background-image: url(../large-triangles2.svg);
	a {
		float: left;
		color: $color_2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: larger;
		&:hover {
			background-color: #ECF0F1;
			color: black;
			text-decoration: underline;
		}
	}
}
ol{
	text-align: center;
    div{
        background-color: $background-color_3;
		border-radius: 25px;
		padding: 5px;
		margin: 10px;
    }
    h1{
        color: $color_3;
    }
    ol{
        p{
            color: $color_3;
        }
    }
}
footer {
	padding: 2px;
	width: 100%;
	bottom: 0;
	background-image: url(../large-triangles2.svg);
	color: $color_3;
	text-align: center;
	font-size: larger;
}
.button {
	border: none;
	color: $color_3;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #ECF0F1;
	color: $color_1;
	border: 2px solid black;
	&:hover {
		background-image: url(../zig-zag.svg);
		color: $color_3;
	}
}

#body {
	margin-top: 10%;
	margin-bottom: 15%;
	div {
		background-image: url(../zig-zag.svg);
		border-radius: 20px;
	}

	.content-container {
		display: flex; 
		align-items: center; 
		margin-bottom: 20px; 
		color: $color_3;
		
		.text {
			flex: 1; 
			padding-right: 20px;
			text-align: center;
		}
	
		.image {
			flex-shrink: 0;
		}
	}
	
}