body {
    background-color: #ECF0F1;
    color: black;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    overflow: hidden;
    background-color: #2C3E50;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #1f2b37;
    color: white;
    text-decoration: underline;
}
#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #34495E;
    color: white;
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button {
    background-color: #ECF0F1; 
    color: black; 
    border: 2px solid #2C3E50;
}

.button:hover {
    background-color: #2C3E50;
    color: white;
}
